<template>
  <div>
    <b-container class="bv-example-row">
      <b-row>
        <b-col><h3>สถานะสหกิจศึกษา</h3></b-col>
        <b-col> </b-col>
      </b-row>
    </b-container>
    <h1></h1>

    <b-table striped hover :items="stateList" :fields="fields"> </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import statusService from './StatusService'
export default {
  data () {
    return {
      stateList: [],
      fields: [
        { key: 'topic', label: 'รายการ' },
        { key: 'status', label: 'สถานะ' },
        { key: 'detail', label: 'รายละเอียด' }
      ]
    }
  },
  methods: {
    // resetModal () {
    //   this.form = {
    //     _id: '',
    //     topic: '',
    //     status: null,
    //     detail: ''
    //   }
    // },
    // handleOk (bvModalEvt) {
    //   // Prevent modal from closing
    //   bvModalEvt.preventDefault()
    //   // Trigger submit handler
    //   this.handleSubmit()
    // },
    getStates () {
      // this.stateList = statusService.getState()
      axios
        .get('http://localhost:3000/status')
        .then(res => {
          console.log(res)
          this.stateList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getStates()
  }
}
</script>
